

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="perfil" src="../../../assets/2perfil.jpg" class="img-fluid">
    </div>
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id="nombre"><b>Diamela Martina Barraza</b></P>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
        <span>
            <h2>Acerca de mí</h2>
            <p>Soy una persona creativa y estudiosa, en mis tiempos libres bailarina y fotógrafa. Fascinada con todas las ramas que voy descubriendo de la programación de manera autodidacta
            mediante cursos vía On-line, estoy siempre dispuesta a aprender más lenguajes para ponerlos en práctica y desafiarme.</p>
        </span>
    </div>
    
</div>


