<div>
<a class="icon" href="https://www.facebook.com/profile.php?id=100088537388048"><img  src="../../../assets/facebook.png" alt="Facebook"></a>
<a class="icon"  href=""><img  src="../../../assets/telegram.png" alt="Telegram"></a>
<a class="icon" href="https://www.instagram.com/diam.barraza/"><img id="insta" src="../../../assets/instagram.png" alt="Instagram"></a>
<a class="icon" href=""><img  src="../../../assets/1gmail.png" alt="Gmail"></a>
<a class="icon" href="https://github.com/DiamelaMB/.git"><img  src="../../../assets/github.png" alt="Github"></a>
</div>