<div class="row">
    <h2 class="text-center">Proyectos realizados</h2>
    <div class="container">
        <div class="card" style="width: 18rem; color: rgb(17,7,7);">
            <img src="../../../assets/banner" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        <!--<div class="col-sm-12 col-md-7 col-lg-7 parte1 ">
            <h4>Portfolio web</h4>
            <p>Proyecto integrador final de portafolio web en angular, Argentina Programa</p>
        </div>
        <div class="col-sm-10 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a><img ></a>
        </div>-->
    </div>
</div>
