<div class="row">
   <h2>Hard & Soft Skills </h2> 
    <!--<div class="col-sm-2 col-md-2 col-lg-2"></div>-->
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="75"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="100"
        [imageWidth]="100"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#e32020'"
        [innerStrokeColor]="'#e32020'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="60"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="40"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/css.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="87"
        [imageWidth]="90"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#0d71bd'"
        [innerStrokeColor]="'#0d71bd'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="60"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="20"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="77"
        [imageWidth]="77"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#f7e32d'"
        [innerStrokeColor]="'#f7e32d'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="60"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="15"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/a.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="100"
        [imageWidth]="100"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#cc123e'"
        [innerStrokeColor]="'#cc123e'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="60"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="10"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/java.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="90"
        [imageWidth]="87"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#fafafa'"
        [innerStrokeColor]="'#fafafa'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="50"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="75"
        [radius]="60"
        [units]="'Point'"
        [imageSrc]="'../../../assets/sql.png'"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [imageHeight]="140"
        [imageWidth]="140"
        [innerStrokeWidth]="55"
        [outerStrokeColor]="'#dadde0'"
        [innerStrokeColor]="'#dadde0'"
        [showInnerStroke]="true"
        [innerStrokeWidth]="50"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
  <!--FALTAN SOFT-->
</div>


