.row{
    background-color: rgb(187, 199, 221);
    padding: 50px;    
    color: #030202;
}
circle-progress{
    display: inline;
}
.progress col-md-2 col-sm-2 col-lg-2{
    padding-left: 30px;
}
.progress{
    padding-left: 55px;
}


h2{
    padding-top: 55px;
    padding-bottom: 20px;
    align-self: center;
    text-decoration: underline;
    box-shadow: 3px 3px 3px 3px #a1affe;
    font-style: italic;
}