div{
    background-color:rgb(187, 199, 221);
}
.row{
    padding: 50px;
}

p, h5, h4{
    display: inline;
}

@media (min-width: 576px){
    h2{
    padding-top: 55px;
    padding-left: 15%;
    padding-bottom: 2%;
    text-decoration: underline;
}

}
@media (max-width: 576px){
    h2{
        padding-left: 38%;
        padding-bottom: 20px;
        align-self: center;
        text-decoration: underline;
       }
}
