.row{
    background-color: #030202;
    
}
footer{
    color: #bbc7dd;
    font-size: 14px;
    font-family: Mukta;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2%;
}