<div class=" row">
    <h2 class="text-center">Cursos</h2>
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-lg-4 card" style="width: 18rem;">
        <img src="../../../assets/cert-EGG.png" class="card-img-top" alt="Certificado_EGG_Programacion_desde_Cero">
        <div class="card-body">
          <p class="card-text"><img id="logo"src="../../../assets/egg.jpg"> EGG= Curso de "Programación desde cero"</p>
        </div>
      </div>
      <div class="card " style="width: 18rem;">
        <img src="../../../assets/cert-HTML-soloLearn.png" class="card-img-top" alt="Certificado_EGG_Programacion_desde_Cero">
        <div class="card-body">
          <p class="card-text"><img class="logo" src="../../../assets/sololearn.png">SoloLearn= Curso virtual de "lenguaje HTML"</p>
        </div>
      </div>
      <div class="card " style="width: 18rem;">
        <img src="../../../assets/cert-SQL-soloLearn.png" class="card-img-top" alt="Certificado_EGG_Programacion_desde_Cero">
        <div class="card-body">
          <p class="card-text"><img class="logo" src="../../../assets/sololearn.png">SoloLearn= Curso virtual de "lenguaje SQL"</p>
        </div>
      </div>
</div>
