.row{
   background-color: rgb(187, 199, 221);
   padding: 50px;
}
h2{
    padding-top: 55px;
    padding-bottom: 20px;
    align-self: center;
    text-decoration: underline;
    box-shadow: 3px 3px 3px 3px #a1affe;
}
#logo{
    border-radius: 90%;
    width: 25;
    height: 25;
}
.logo{
    width: 25;
    height: 25;
}
.card{
    background-color: #9ba6e2;
    margin-left: 10px;
    box-shadow: 3px 2px 3px 3px #a1affe;
}
